USE [DW_Sales_Music]
GO
/****** Object:  Table [dbo].[Dim_Album]    Script Date: 15/02/2022 2:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Album](
	[AlbumId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](160) NULL,
 CONSTRAINT [PK_Dim_Album] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Artist]    Script Date: 15/02/2022 2:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Artist](
	[ArtistId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](120) NULL,
 CONSTRAINT [PK_Dim_Artist] PRIMARY KEY CLUSTERED 
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Customer]    Script Date: 15/02/2022 2:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](40) NULL,
	[LastName] [varchar](20) NULL,
	[Company] [varchar](80) NULL,
	[Address] [varchar](70) NULL,
	[City] [varchar](40) NULL,
	[State] [varchar](40) NULL,
	[Country] [varchar](40) NULL,
	[PostalCode] [varchar](10) NULL,
	[Phone] [varchar](24) NULL,
	[Fax] [varchar](24) NULL,
	[Email] [varchar](60) NULL,
 CONSTRAINT [PK_Dim_customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Employee]    Script Date: 15/02/2022 2:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](20) NULL,
	[FirstName] [varchar](20) NULL,
	[Title] [varchar](30) NULL,
	[BirthDate] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[Address] [varchar](70) NULL,
	[City] [varchar](40) NULL,
	[State] [varchar](40) NULL,
	[Country] [varchar](40) NULL,
	[PostalCode] [varchar](10) NULL,
	[Phone] [varchar](24) NULL,
	[Fax] [varchar](24) NULL,
	[Email] [varchar](60) NULL,
 CONSTRAINT [PK_Dim_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Genre]    Script Date: 15/02/2022 2:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Genre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](120) NULL,
 CONSTRAINT [PK_Dim_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Invoice_Item]    Script Date: 15/02/2022 2:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Invoice_Item](
	[InvoiceItemID] [int] IDENTITY(1,1) NOT NULL,
	[UnitPrice] [numeric](10, 2) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Dim_Invoice_Items] PRIMARY KEY CLUSTERED 
(
	[InvoiceItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Location]    Script Date: 15/02/2022 2:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDate] [datetime] NULL,
	[BillingAddress] [varchar](70) NULL,
	[BillingCity] [varchar](40) NULL,
	[BillingState] [varchar](40) NULL,
	[BillingCountry] [varchar](40) NULL,
	[BillingPostalCode] [varchar](10) NULL,
	[Total] [numeric](10, 2) NULL,
 CONSTRAINT [PK_Dim_Location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Playlist]    Script Date: 15/02/2022 2:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Playlist](
	[PlaylistId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](120) NULL,
 CONSTRAINT [PK_Dim_Playlist] PRIMARY KEY CLUSTERED 
(
	[PlaylistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Time]    Script Date: 15/02/2022 2:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Time](
	[TimeId] [int] IDENTITY(1,1) NOT NULL,
	[day] [int] NULL,
	[day_of_the_week] [varchar](15) NULL,
	[month] [int] NULL,
	[quarter] [int] NULL,
	[year] [int] NULL,
 CONSTRAINT [PK_Dim_Time] PRIMARY KEY CLUSTERED 
(
	[TimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dim_Album] ON 

INSERT [dbo].[Dim_Album] ([AlbumId], [Title]) VALUES (1, N'For Those About To Rock We Salute You')
INSERT [dbo].[Dim_Album] ([AlbumId], [Title]) VALUES (2, N'Balls to the Wall')
INSERT [dbo].[Dim_Album] ([AlbumId], [Title]) VALUES (3, N'Restless and Wild')
GO
SET IDENTITY_INSERT [dbo].[Dim_Album] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Artist] ON 

INSERT [dbo].[Dim_Artist] ([ArtistId], [Name]) VALUES (1, N'AC/DC')
INSERT [dbo].[Dim_Artist] ([ArtistId], [Name]) VALUES (2, N'Accept')
INSERT [dbo].[Dim_Artist] ([ArtistId], [Name]) VALUES (3, N'Aerosmith')
GO
SET IDENTITY_INSERT [dbo].[Dim_Artist] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Customer] ON 

INSERT [dbo].[Dim_Customer] ([CustomerId], [FirstName], [LastName], [Company], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (1, N'Luís', N'Gonçalves', N'Embraer - Empresa Brasileira de Aeronáutica S.A.', N'Av. Brigadeiro Faria Lima, 2170', N'São José dos Campos', N'SP', N'Brazil', N'12227-000', N'+55 (12) 3923-5555', N'+55 (12) 3923-5566', N'luisg@embraer.com.br')
INSERT [dbo].[Dim_Customer] ([CustomerId], [FirstName], [LastName], [Company], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (2, N'Leonie', N'Köhler', NULL, N'Theodor-Heuss-Straße 34', N'Stuttgart', NULL, N'Germany', N'70174', N'+49 0711 2842222', NULL, N'leonekohler@surfeu.de')
INSERT [dbo].[Dim_Customer] ([CustomerId], [FirstName], [LastName], [Company], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (3, N'François', N'Tremblay', NULL, N'1498 rue Bélanger', N'Montréal', N'QC', N'Canada', N'H2G 1A7', N'+1 (514) 721-4711', NULL, N'ftremblay@gmail.com')
SET IDENTITY_INSERT [dbo].[Dim_Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Employee] ON 

INSERT [dbo].[Dim_Employee] ([EmployeeId], [LastName], [FirstName], [Title], [BirthDate], [HireDate], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (1, N'Adams', N'Andrew', N'General Manager', CAST(N'1962-02-18T00:00:00.000' AS DateTime), CAST(N'2002-08-14T00:00:00.000' AS DateTime), N'11120 Jasper Ave NW', N'Edmonton', N'AB', N'Canada', N'T5K 2N1', N'+1 (780) 428-9482', N'+1 (780) 428-3457', N'andrew@chinookcorp.com')
INSERT [dbo].[Dim_Employee] ([EmployeeId], [LastName], [FirstName], [Title], [BirthDate], [HireDate], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (2, N'Edwards', N'Nancy', N'Sales Manager', CAST(N'1958-12-08T00:00:00.000' AS DateTime), CAST(N'2002-05-01T00:00:00.000' AS DateTime), N'825 8 Ave SW', N'Calgary', N'AB', N'Canada', N'T2P 2T3', N'+1 (403) 262-3443', N'+1 (403) 262-3322', N'nancy@chinookcorp.com')
INSERT [dbo].[Dim_Employee] ([EmployeeId], [LastName], [FirstName], [Title], [BirthDate], [HireDate], [Address], [City], [State], [Country], [PostalCode], [Phone], [Fax], [Email]) VALUES (3, N'Peacock', N'Jane', N'Sales Support Agent', CAST(N'1973-08-29T00:00:00.000' AS DateTime), CAST(N'2002-04-01T00:00:00.000' AS DateTime), N'1111 6 Ave SW', N'Calgary', N'AB', N'Canada', N'T2P 5M5', N'+1 (403) 262-3443', N'+1 (403) 262-6712', N'jane@chinookcorp.com')
SET IDENTITY_INSERT [dbo].[Dim_Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Genre] ON 

INSERT [dbo].[Dim_Genre] ([GenreId], [Name]) VALUES (1, N'Rock')
INSERT [dbo].[Dim_Genre] ([GenreId], [Name]) VALUES (2, N'Jazz')
INSERT [dbo].[Dim_Genre] ([GenreId], [Name]) VALUES (3, N'Metal')
SET IDENTITY_INSERT [dbo].[Dim_Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Invoice_Item] ON 

INSERT [dbo].[Dim_Invoice_Item] ([InvoiceItemID], [UnitPrice], [Quantity]) VALUES (1, CAST(0.99 AS Numeric(10, 2)), 1)
INSERT [dbo].[Dim_Invoice_Item] ([InvoiceItemID], [UnitPrice], [Quantity]) VALUES (2, CAST(0.99 AS Numeric(10, 2)), 1)
INSERT [dbo].[Dim_Invoice_Item] ([InvoiceItemID], [UnitPrice], [Quantity]) VALUES (3, CAST(0.99 AS Numeric(10, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[Dim_Invoice_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Location] ON 

INSERT [dbo].[Dim_Location] ([LocationId], [InvoiceDate], [BillingAddress], [BillingCity], [BillingState], [BillingCountry], [BillingPostalCode], [Total]) VALUES (1, NULL, N'Theodor-Heuss-Straße 34', N'Stuttgart', NULL, N'Germany', N'70174', NULL)
INSERT [dbo].[Dim_Location] ([LocationId], [InvoiceDate], [BillingAddress], [BillingCity], [BillingState], [BillingCountry], [BillingPostalCode], [Total]) VALUES (2, NULL, N'Ullevålsveien 14', N'Oslo', NULL, N'Norway', N'0171', NULL)
INSERT [dbo].[Dim_Location] ([LocationId], [InvoiceDate], [BillingAddress], [BillingCity], [BillingState], [BillingCountry], [BillingPostalCode], [Total]) VALUES (3, NULL, N'Grétrystraat 63', N'Brussels', NULL, N'Belgium', N'1000', NULL)
GO
SET IDENTITY_INSERT [dbo].[Dim_Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Dim_Playlist] ON 

INSERT [dbo].[Dim_Playlist] ([PlaylistId], [Name]) VALUES (1, N'Music')
INSERT [dbo].[Dim_Playlist] ([PlaylistId], [Name]) VALUES (2, N'Movies')
INSERT [dbo].[Dim_Playlist] ([PlaylistId], [Name]) VALUES (3, N'TV Shows')
SET IDENTITY_INSERT [dbo].[Dim_Playlist] OFF
GO
